body {
    background-color: #c4ebfb;
}

.text {
    color: black;
    text-align: left;
    padding-top: 200px;
    padding-right: 350px;
    padding-left: 350px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;

}