@import url('https://fonts.googleapis.com/css?family=Karla');

.index-page {
	background-color:#111;
}


.title {
	font-family: "karla";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 240px;
	line-height: .75;
	margin: 10px 0;
}
/* end of homepage styling */


.about-page{ 
	background-color:#c4ebfb;


}

.paragraph-one{

}

.paragraph-two{

}

.paragraph-three{

}




.tech-page{ 
	
	background-color: #F4C0CC;

}

.mindmap-page{
	
	background-color: #d597fc;

}

.projects-page{
	
	background-color: #C0EF9C;

}

/* everything */

.nav-bar{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	/* writing-mode: vertical-rl; */
    	
} 

.content{
	font-size: 27px;
    font-family: 'Poppins', sans-serif;

}

